


<form>
    <div class="form-group">
        <label for="name">Adı:</label>
        <input type="name" class="form-control form-control-sm" id="name">
    </div>
    <div class="form-group">
        <label for="subtitle">Subtitle:</label>
        <input type="subtitle" class="form-control form-control-sm" id="subtitle">
    </div>
    
    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea rows="5" class="form-control form-control-sm" id="comment" placeholder="Please write your comment"></textarea>
    </div>

   
    <button type="submit" class="btn btn-success">Send</button>
</form>